<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="thuytrinh.navgraphviewmodelsdemo">

  <application
    android:allowBackup="false"
    android:label="NavGraphViewModelsDemo"
    android:supportsRtl="false"
    android:theme="@style/Platform.MaterialComponents.Light">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
